Debug/Bin/
Release/
back_UserData/
ipch/
V6Chat3.sdf
V6Chat3.suo
V6Chat3/Debug/
V6Chat3/Release/
kernel/Debug/
kernel/Release/
db_interface/Debug/
db_interface/Release/
socket_interface/Debug/
socket_interface/Release/
xmpp_interface/Debug/
xmpp_interface/Release/
*.aps
*.user
*.ilk